/* =========================
   MODULE LAYOUT
========================= */

#module-layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;

    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 3rem;

    position: relative;
    min-height: 100vh; /* ocupa toda la pantalla */
}



/* =========================
   SIDEBAR
========================= */

#module-sidebar {
    position: sticky;
    top: 2rem;

    align-self: start;
}

/* Header del módulo */
#module-header h1 {
    text-align: center;
    border-bottom: 1px solid #2b2b2b;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

/* Lista de posts */
#module-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#module-posts ul h2 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}


/* =========================
   CONTENT AREA
========================= */

#module-content {
    border-left: 1px solid #2b2b2b;
    min-width: 0; /* evita overflow en grids */
}

/* Header del post dentro del módulo */
#post-header {
    margin-bottom: 2rem;
}

#post-header h2 {
    margin-left: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid #2b2b2b;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
    #module-layout {
        grid-template-columns: 1fr;
    }

    /* ocultar la línea en mobile */
    #module-layout::before {
        display: none;
    }

    #module-sidebar {
        position: relative;
        top: auto;
        margin-bottom: 2rem;
    }
}
